<!DOCTYPE html>
<html>

<head>
  <title>Maps</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class='container'>
      <h1>Spots!</h1>
    </div>

  </header>

  <div class="container">
    {{{body}}}
  </div>

  <footer>
    &copy 2018 ironhack webdev
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCgbQ5D5T0Oot_nSsJZZ7tBEAEob8s-T3k"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>